h2 {
  text-align: center;
}

.field {

}

.left_right_margin {
  margin-left: 4rem;
  margin-right: 4rem;
}

.black_ring {
  border: 1px solid #000000;
  border-radius: 15px;
  padding: 1rem;
}

.white_background {
  color: #000000;
  background-color: #FFFFFF;
}

.black_underscore {
  border-bottom: 1px solid #000000;
}
