h2 {
  text-align: center;
}

li {
  list-style-type: none;
}

.field {

}

.user-id {
  background-color: white !important;
  margin-top: 0.6rem;
  margin-right: 1rem;
}

.left-right-margin {
  margin-left: 4rem;
  margin-right: 4rem;
}

.black-ring {
  word-wrap: break-word;
  border: 1px solid #000000;
  border-radius: 15px;
  padding: 1rem;
  height: 20rem;
  overflow: scroll;
}

.white-background {
  color: #000000;
  background-color: #FFFFFF;
}

.black-underscore {
  border-bottom: 1px solid #000000;
}

.profile-photo-container {
  overflow: hidden;
  margin-right: 0.5rem;
}

.profile-photo {
  width: 100%;
  height: 100%;
  display: block;
}

.profile-photo-container.profile-photo-small {
  width: 2.2rem;
  height: 2.2rem;
  float: left;
}

.center {
  text-align: center;
}

.flash-messages {
  text-align: center;
  font-style: italic;
  opacity: 0.65;
  font-size: 85%;
}

.devise-messages {
  text-align: center;
  font-style: italic;
  opacity: 0.65;
  font-size: 85%;
}

.chat-message {
  min-height: 2.3rem;
}

.message-body {

}

::-webkit-scrollbar {
    width: 0px;
}
